/*font and color*/

body {
	background-color: rgb(255 245 245);
	color: #926e6f;
	font-family: 'Lora', serif;
	font-size:15px;
}

h1 {
	font-size: 32px;
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
	color: #C64756
}

h2, h3, h4, h5 {
	font-size: 20px
}

a {
	text-decoration: none;
	font-family: Calibri
	font-size:12px;
	font-weight: bold;
}
a:hover {
	color:pink;
}

/*design*/

.card-white {
	background: white;
    margin: 40px auto;
    padding: 50px;
    box-shadow: 0px 10px 30px rgb(206 189 189);
    border-radius: 10px;
    text-align: center;
}

.img-circle {
	width: 140px;
    margin right: 40px;
    padding: 10px;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
}

.btn-blue {
	background-color: #6c6cc0;
	color:white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background: pink;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	width:20px;
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: #6c6cc0;
}

.list-inline i:hover {
	color: pink;
}

#introduction p {
	margin-bottom: 30px
}

/*responsive design*/

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
